.App {
  padding: 0 2em;
}

.table {
  border-collapse: collapse;
}

.thead {
  position: sticky;
  z-index: 1;
  top: -1px;
  display: flex;
}

.thead p {
  border: none;
  font-weight: bold;
  flex: 150px 0 0;
  flex-shrink: 0;
  background-color: white;
  margin: 0;
  padding: 0.5em 0;
  height: unset;
}

.row {
  white-space: nowrap;
}

p {
  width: 150px;
  height: 100%;
  margin: 0;
  display: inline-block;
  border-bottom: 1px solid #CCC;
  vertical-align: bottom;
}

.jd {
  border: none;
  text-align: right;
}

.jd span {
  border-bottom: 1px solid #CCC;
  display: block;
  position: relative;
  padding: 0 4px;
}

.calendar-julian {
  background-color: #FDD;
}

.calendar-gregorian {
  background-color: #DDF;
}
.calendar-other {
  background-color: #DDD;
}